{% extends "base.html" %}

{% block content %}
<div class="columns is-centered my-1">
  <div class="column is-half-tablet is-one-third-desktop">
    <div class="card"
      style="background-color: #e3e1e1; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); border-radius: 10px; overflow: hidden; transition: all 0.3s ease;">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{ object.photo.url }}" alt="{{ object.model }} - {{ object.brand }}" style="object-fit: cover;">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <h2 class="title is-4">{{ object.brand }} {{ object.model }}</h2>
        <p class="subtitle is-6"><strong>Ano de fabricação:</strong> {{ object.factory_year }}</p>
        <p class="subtitle is-6"><strong>Ano do modelo:</strong> {{ object.model_year }}</p>
        <p class="subtitle is-6">
          <span class="icon is-small has-text-grey-dark">
            <i class="fas fa-id-card"></i>
          </span>
          <strong>Placa:</strong> {{ object.plate }}
        </p>
        <p class="subtitle is-6">
          <span class="icon is-small has-text-success">
            <i class="fas fa-dollar-sign"></i>
          </span>
          <strong>Preço:</strong> R$ {{ object.value }}
        </p>
        {% if object.bio %}
        <div class="mt-4 p-4" style="
        border: 1px solid #cfcfcf;
        border-radius: 8px;
        text-align: left;
      ">
          <div class="is-flex is-align-items-center mb-2">
            <span class="icon has-text-info mr-2">
              <i class="fas fa-info-circle"></i>
            </span>
            <span class="has-text-weight-semibold">Descrição</span>
          </div>

          <p style="text-align: justify;">
            {{ object.bio }}
          </p>
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <div class="mt-4">
          <a href="{% url 'car_update' pk=object.pk %}" class="button is-info is-fullwidth is-rounded mb-2">
            <span>Editar Carro</span>
          </a>
          <a href="{% url 'car_delete' pk=object.pk %}" class="button is-danger is-fullwidth is-rounded">
            <span>Deletar Carro</span>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}