{% extends "base.html" %}

{% block content %}
<div class="is-flex is-justify-content-center is-align-items-center" style="min-height: 80vh;">
    <form method="post" class="box" style="max-width: 500px; width: 100%;">
        {% csrf_token %}

        <div class="field has-text-centered">
            {{ user_form.username.errors }}
            <label class="label">Usuário</label>
            <div class="control" style="max-width: 300px; margin: 0 auto;">
                {{ user_form.username }}
            </div>
        </div>

        <div class="field has-text-centered">
            {{ user_form.password1.errors }}
            <label class="label">Senha</label>
            <div class="control" style="max-width: 300px; margin: 0 auto;">
                {{ user_form.password1 }}
            </div>
        </div>

        <div class="field has-text-centered">
            {{ user_form.password2.errors }}
            <label class="label">Confirme sua senha</label>
            <div class="control" style="max-width: 300px; margin: 0 auto;">
                {{ user_form.password2 }}
            </div>
        </div>

        <div class="field is-grouped is-justify-content-center mt-4">
            <div class="control">
                <button type="submit" class="button is-success has-text-weight-bold has-text-black">
                    Cadastrar
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}